.text-area {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:99%;
  height: 93%;
  background-color:#353b45;
  color:#ffffff;
  font-size: 15px;
  padding: 5px;
}

.notification-label {
  z-index:100;
  position:absolute;
  bottom:0;
  color: #323232;
  left: 50%;
}

.hint-label {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #323232;
}
